{
  "swagger": "2.0",
  "info": {
    "title": "StackPath CDN API",
    "version": "1.0",
    "contact": {
      "name": "StackPath Support",
      "url": "https://support.stackpath.com/"
    }
  },
  "host": "gateway.stackpath.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cdn/v1/origins/scan": {
      "post": {
        "summary": "ScanOrigin returns information regarding an origin, such as its IP address,\nand whether or not it supports SSL.",
        "operationId": "ScanOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnScanOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnScanOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/pops": {
      "get": {
        "summary": "GetPops returns the list of available pops.",
        "operationId": "GetPops",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetPopsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/pops/closest": {
      "get": {
        "summary": "GetPops returns the list of available pops.",
        "description": "Performs a scan and returns the Pop with the fastest response.",
        "operationId": "GetClosestPop",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetClosestPopResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates": {
      "get": {
        "summary": "GetCertificates returns certificates in the stack",
        "operationId": "GetCertificates",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificatesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateCertificate creates a certificate in the stack. The certificate will\nautomatically be associated with scope hostnames which are contained in either\nthe subject or the alternative names in the certificate.",
        "operationId": "CreateCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}": {
      "get": {
        "summary": "GetCertificate returns a certificate",
        "operationId": "GetCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "DeleteCertificate deletes a certificate from the stack",
        "operationId": "DeleteCertificate",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "put": {
        "summary": "UpdateCertificate updates a certificate. This can be used for providing\nupdated certificate or key information.",
        "operationId": "UpdateCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/renew": {
      "post": {
        "summary": "RenewCertificate will start a certificate renewal process",
        "operationId": "RenewCertificate",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/sites": {
      "get": {
        "summary": "GetCertificateSites returns the sites which are implicitly associated with a certificate",
        "operationId": "GetCertificateSites",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateSitesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/verification_details": {
      "get": {
        "summary": "GetCertificateVerificationDetails will return whether the requested certificate requires\nmanual verification, and the details necessary for providing that verification.",
        "operationId": "GetCertificateVerificationDetails",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateVerificationDetailsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/metrics": {
      "get": {
        "summary": "GetMetrics returns metrics for sites in the stack",
        "operationId": "GetMetrics",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetMetricsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "AUTO",
              "P1M",
              "PT5M",
              "PT1H",
              "P1D"
            ],
            "default": "AUTO"
          },
          {
            "name": "platforms",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pops",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "billing_regions",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sites",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE",
              "ACCOUNT",
              "SITE",
              "PLATFORM",
              "POP",
              "REGION"
            ],
            "default": "NONE"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/origins": {
      "get": {
        "summary": "GetOrigins returns the origins in the stack",
        "operationId": "GetOrigins",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetOriginsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/origins/{origin_id}": {
      "get": {
        "summary": "GetOrigin returns an origin",
        "operationId": "GetOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "UpdateOrigin updates an origin, allowing for changes to paths, hostnames, and ports.",
        "operationId": "UpdateOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/purge": {
      "post": {
        "summary": "PurgeContent purges content from the CDN. A purge ID is returned,\nwhich can be used in calls to get the purge status at `/cdn/v1/stacks/{stack_id}/purge/{purge_id}`",
        "operationId": "PurgeContent",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnPurgeContentResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnPurgeContentRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/purge/{purge_id}": {
      "get": {
        "summary": "GetPurgeStatus returns the status of a purge request",
        "operationId": "GetPurgeStatus",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetPurgeStatusResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "purge_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites": {
      "get": {
        "summary": "GetSites returns sites in the stack",
        "operationId": "GetSites",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSitesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateSite will create a Site",
        "operationId": "CreateSite",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}": {
      "get": {
        "summary": "GetSite returns a Site",
        "operationId": "GetSite",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "DeleteSite will delete a site",
        "operationId": "DeleteSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates": {
      "get": {
        "summary": "GetSiteCertificates returns certificates which are implicity associated with a site",
        "operationId": "GetSiteCertificates",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteCertificatesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/request": {
      "post": {
        "summary": "RequestCertificate creates a new certificate for a site.  The optional list of hosts\nshould be delivery domains for the site.  If no hosts parameter is provided all delivery\ndomains for a site will be included in the SAN field.  If the hosts parameter is provided\nthe first entry in the list will be used as the certificate common name.",
        "operationId": "RequestCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnRequestCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnRequestCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}": {
      "put": {
        "summary": "ConnectSiteToCertificate will associate a site with a certificate, without\nvalidating if the site has a hostname covered by the certificate. This is\nuseful for preparation work required for getting a site ready for traffic.\nIf a certificate is uploaded which contains hostnames for sites, it will\nautomatically be connected to those sites. If a hostname is added to a\nsite which is covered by an SSL certificate, it will automatically be\nconnected to the certificate.",
        "operationId": "ConnectSiteToCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnConnectSiteToCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/disable": {
      "post": {
        "summary": "DisableSite disables site delivery, can be reversed via a call to enable",
        "operationId": "DisableSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/dns/targets": {
      "get": {
        "summary": "GetSiteDnsTargets returns a set of DNS addresses that can be used for requests to the site",
        "operationId": "GetSiteDnsTargets",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteDnsTargetsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/enable": {
      "post": {
        "summary": "EnableSite re-enables delivery on a site",
        "operationId": "EnableSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes": {
      "get": {
        "summary": "GetSiteScopes returns the scopes for a site",
        "operationId": "GetSiteScopes",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScopesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-omitempty": false,
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateScope creates a new configuration scope",
        "operationId": "CreateScope",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}": {
      "delete": {
        "summary": "DeleteScope deletes a scope",
        "operationId": "DeleteScope",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/configuration": {
      "get": {
        "summary": "GetScopeConfiguration returns the configuration for a scope",
        "operationId": "GetScopeConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "UpdateScopeConfiguration updates the configuration for a scope",
        "operationId": "UpdateScopeConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeConfigurationRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames": {
      "get": {
        "summary": "GetScopeHostnames returns the hostnames configured for a scope. These\nhostnames allow the CDN to recognize an HTTP request and associate it\nwith a site.",
        "operationId": "GetScopeHostnames",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeHostnamesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-omitempty": false,
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateScopeHostname creates a hostname on a scope.",
        "operationId": "CreateScopeHostname",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeHostnameResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeHostnameRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames/{domain}": {
      "delete": {
        "summary": "DeleteScopeHostname deletes a hostname from a scope",
        "operationId": "DeleteScopeHostname",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-omitempty": false,
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins": {
      "get": {
        "summary": "GetScopeOrigins returns the origins associated with a scope.",
        "operationId": "GetScopeOrigins",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeOriginsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "ConnectScopeToOrigin will connect a scope with an origin, creating the\norigin if necessary. When the request contains a priority which an origin\nalready associated with the scope has set, the existing origin will be\ndisconnected. The priority of an origin already associated with a scope\ncan be modified via this endpoint.",
        "operationId": "ConnectScopeToOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnConnectScopeToOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnConnectScopeToOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins/{origin_id}": {
      "delete": {
        "summary": "DisconnectScopeFromOrigin will disconnect a scope from an origin.",
        "operationId": "DisconnectScopeFromOrigin",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules": {
      "get": {
        "summary": "GetScopeRules returns the rules for a scope",
        "operationId": "GetScopeRules",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRulesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateScopeRule creates a new rule in a scope",
        "operationId": "CreateScopeRule",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRuleResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRuleRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}": {
      "get": {
        "summary": "GetScopeRule returns a rule in a scope",
        "operationId": "GetScopeRule",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRuleResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "DeleteScopeRule deletes a scope rule",
        "operationId": "DeleteScopeRule",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}/configuration": {
      "get": {
        "summary": "GetScopeRuleConfiguration returns the configuration for a scope rule",
        "operationId": "GetScopeRuleConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRuleConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "UpdateScopeRuleConfiguration updates the configuration for a scope rule",
        "operationId": "UpdateScopeRuleConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeRuleConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeRuleConfigurationRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts": {
      "get": {
        "summary": "GetSiteScripts gets a paginated list of scripts for a site",
        "operationId": "GetSiteScripts",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "first is the number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "after is the cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "filter will accept sql style constraints.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "sort_by will sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "CreateSiteScript creates an edge script for a site",
        "operationId": "CreateSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteScriptRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}": {
      "get": {
        "summary": "GetSiteScript gets a single script for a site.",
        "operationId": "GetSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_version",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "DeleteSiteScript delete an edge script for a site",
        "operationId": "DeleteSiteScript",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "UpdateSiteScript updates the code or paths of a script. If the code is changed a new version will be created",
        "operationId": "UpdateSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateSiteScriptRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}/{script_version}": {
      "get": {
        "summary": "GetSiteScript gets a single script for a site.",
        "operationId": "GetSiteScript2",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_version",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    }
  },
  "definitions": {
    "AuthACLAccessCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "allow",
        "deny"
      ],
      "default": "UNKNOWN"
    },
    "AuthACLClientIPSrcEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "socket",
        "header"
      ],
      "default": "UNKNOWN"
    },
    "AuthGeoCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "countryCode",
        "region",
        "subdivisionCodes",
        "city",
        "postalCode",
        "continentCode",
        "timeZone",
        "dmaCode",
        "areaCode"
      ],
      "default": "UNKNOWN"
    },
    "AuthUrlSignAKv2HashStrategyEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "sha1",
        "sha256",
        "md5"
      ],
      "default": "UNKNOWN"
    },
    "AuthUrlSignL3TimeFormatEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "epoch",
        "datetime"
      ],
      "default": "UNKNOWN"
    },
    "AwsSignedOriginPullV4AuthenticationTypeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "query",
        "header"
      ],
      "default": "UNKNOWN"
    },
    "BandWidthRateLimitUnitsInitialEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "byte",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandWidthRateLimitUnitsSustainedEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "kilobit",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandwidthRateLimitInitialBurstUnitsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "byte",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandwidthRateLimitSustainedRateUnitsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "kilobit",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BillableRegionsEnabledRegionsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "us",
        "eu",
        "sa",
        "as",
        "oc"
      ],
      "default": "UNKNOWN"
    },
    "ClientRequestQueueIpListAccessCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "allow",
        "deny"
      ],
      "default": "UNKNOWN"
    },
    "ContentDispositionByHeaderDefaultTypeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "attachment",
        "inline"
      ],
      "default": "UNKNOWN"
    },
    "DnsOverrideTypeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "A",
        "AAAA",
        "CNAME"
      ],
      "default": "UNKNOWN"
    },
    "FileSegmentationInitialOriginRequestBehaviorEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "range",
        "full"
      ],
      "default": "UNKNOWN"
    },
    "GetMetricsRequestMetricsGranularity": {
      "type": "string",
      "enum": [
        "AUTO",
        "P1M",
        "PT5M",
        "PT1H",
        "P1D"
      ],
      "default": "AUTO"
    },
    "GetMetricsRequestMetricsGroupBy": {
      "type": "string",
      "enum": [
        "NONE",
        "ACCOUNT",
        "SITE",
        "PLATFORM",
        "POP",
        "REGION"
      ],
      "default": "NONE"
    },
    "GetMetricsResponseMetricSample": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GetMetricsResponseMetricSeries": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "samples": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetMetricsResponseMetricSample"
          }
        }
      }
    },
    "HashTypeClassEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "HOST",
        "MEDIA"
      ],
      "default": "UNKNOWN"
    },
    "MidTierCachingRequestFormatEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "internal",
        "external"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullDefaultBehaviorEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "dedup",
        "nocache",
        "nostore"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullPolicyExpirePolicyEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "CACHE_CONTROL",
        "INGEST",
        "LAST_MODIFY",
        "NEVER_EXPIRE",
        "DO_NOT_CACHE"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullPolicyNoCacheBehaviorEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "legacy",
        "spec"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullRedirectActionEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "follow",
        "proxy"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullShieldBehaviorEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "redirect",
        "tlb"
      ],
      "default": "UNKNOWN"
    },
    "OriginPullShieldPermissibleShieldInternalErrorsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "NONE",
        "CONNECTION_ONLY",
        "WRITE_ONLY",
        "WRITE_READ",
        "ALL"
      ],
      "default": "UNKNOWN"
    },
    "PurgeContentRequestItem": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "recursive": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        },
        "invalidateOnly": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        },
        "purgeAllDynamic": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "purgeSelector": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurgeContentRequestPurgeSelector"
          }
        }
      }
    },
    "PurgeContentRequestPurgeSelector": {
      "type": "object",
      "properties": {
        "selectorType": {
          "$ref": "#/definitions/PurgeContentRequestPurgeSelectorType"
        },
        "selectorName": {
          "type": "string"
        },
        "selectorValue": {
          "type": "string"
        },
        "selectorValueDelimiter": {
          "type": "string"
        }
      }
    },
    "PurgeContentRequestPurgeSelectorType": {
      "type": "string",
      "enum": [
        "HEADER",
        "TAG"
      ],
      "default": "HEADER"
    },
    "RequestFilterUrlInputEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "FULL_URL",
        "FULL_FILE_PATH",
        "FULL_FILE_PATH_LEGACY"
      ],
      "default": "UNKNOWN"
    },
    "ScanOriginResponseOriginScanSSLDetails": {
      "type": "object",
      "properties": {
        "valid": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "SiteTypeValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "CDN",
        "WAF",
        "API"
      ],
      "default": "UNKNOWN"
    },
    "TypeEnum": {
      "type": "string",
      "enum": [
        "CDN",
        "WAF",
        "API"
      ],
      "default": "CDN"
    },
    "apiStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "error": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiStatusDetail"
          }
        }
      }
    },
    "apiStatusDetail": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "required": [
        "@type"
      ],
      "discriminator": "@type"
    },
    "cdnCertificate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "fingerprint": {
          "type": "string"
        },
        "commonName": {
          "type": "string"
        },
        "issuer": {
          "type": "string"
        },
        "caBundle": {
          "type": "string"
        },
        "trusted": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "createDate": {
          "type": "string",
          "format": "date-time"
        },
        "updateDate": {
          "type": "string",
          "format": "date-time"
        },
        "subjectAlternativeNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "$ref": "#/definitions/cdnCertificateStatus"
        },
        "providerManaged": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean",
          "title": "Whether a certificate is managed by StackPath or the end user"
        }
      }
    },
    "cdnCertificateStatus": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "PENDING",
        "EXPIRED",
        "FAILED",
        "PENDING_VERIFICATION",
        "ACTIVE",
        "INACTIVE"
      ],
      "default": "UNKNOWN",
      "description": " - UNKNOWN: UNKNOWN is the default value if no other value has been defined.\n - PENDING: PENDING is the initial value that a certificate request is created in before provisioning.\n - EXPIRED: EXPIRED is for a certificate that has exceeded its expiration date.\n - FAILED: FAILED is used for requested certificates that have had an error during provisioning.\n - PENDING_VERIFICATION: PENDING_VERIFICATION is used during a certificate request where verification of ownership of the requested domains is still pending.\n - ACTIVE: ACTIVE is for a certificate that is currently valid and in use by one or more hosts.\n - INACTIVE: INACTIVE is for a certificate that is currently valid but not in use by any hosts."
    },
    "cdnConnectScopeToOriginRequest": {
      "type": "object",
      "properties": {
        "origin": {
          "$ref": "#/definitions/cdnConnectScopeToOriginRequestOrigin"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "originId": {
          "type": "string"
        }
      }
    },
    "cdnConnectScopeToOriginRequestOrigin": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "hostname": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "securePort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "cdnConnectScopeToOriginResponse": {
      "type": "object",
      "properties": {
        "scopeOrigin": {
          "$ref": "#/definitions/cdnScopeOrigin"
        }
      }
    },
    "cdnConnectSiteToCertificateResponse": {
      "type": "object",
      "properties": {
        "siteCertificate": {
          "$ref": "#/definitions/cdnSiteCertificate"
        }
      }
    },
    "cdnCreateCertificateRequest": {
      "type": "object",
      "properties": {
        "certificate": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "caBundle": {
          "type": "string"
        }
      }
    },
    "cdnCreateCertificateResponse": {
      "type": "object",
      "properties": {
        "certificate": {
          "$ref": "#/definitions/cdnCertificate"
        }
      }
    },
    "cdnCreateScopeHostnameRequest": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "disableTransparentMode": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
        }
      }
    },
    "cdnCreateScopeHostnameResponse": {
      "type": "object",
      "properties": {
        "hostname": {
          "$ref": "#/definitions/cdnHostname"
        }
      }
    },
    "cdnCreateScopeRequest": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "platform": {
          "type": "string"
        }
      }
    },
    "cdnCreateScopeResponse": {
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "#/definitions/cdnScope"
        }
      }
    },
    "cdnCreateScopeRuleRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "configuration": {
          "$ref": "#/definitions/custconfConfiguration"
        }
      }
    },
    "cdnCreateScopeRuleResponse": {
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "#/definitions/cdnScopeRule"
        },
        "configuration": {
          "$ref": "#/definitions/custconfConfiguration"
        }
      }
    },
    "cdnCreateSiteRequest": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "origin": {
          "$ref": "#/definitions/cdnCreateSiteRequestOrigin"
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cdnCreateSiteRequestFeature"
          }
        },
        "type": {
          "$ref": "#/definitions/TypeEnum"
        },
        "configuration": {
          "$ref": "#/definitions/custconfConfiguration"
        }
      },
      "title": "CreateSiteRequest will be used to create a site"
    },
    "cdnCreateSiteRequestFeature": {
      "type": "string",
      "enum": [
        "CDN",
        "WAF"
      ],
      "default": "CDN"
    },
    "cdnCreateSiteRequestOrigin": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "hostname": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "securePort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "cdnCreateSiteResponse": {
      "type": "object",
      "properties": {
        "site": {
          "$ref": "#/definitions/cdnSite"
        }
      },
      "title": "CreateSiteResponse returns the created site"
    },
    "cdnCreateSiteScriptRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "code": {
          "type": "string",
          "format": "byte"
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cdnCreateSiteScriptResponse": {
      "type": "object",
      "properties": {
        "script": {
          "$ref": "#/definitions/cdnSiteScript"
        }
      }
    },
    "cdnDnsVerificationDetails": {
      "type": "object",
      "properties": {
        "dnsRecords": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cdnGetCertificateResponse": {
      "type": "object",
      "properties": {
        "certificate": {
          "$ref": "#/definitions/cdnCertificate"
        }
      }
    },
    "cdnGetCertificateSitesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cdnSite"
          }
        }
      }
    },
    "cdnGetCertificateVerificationDetailsResponse": {
      "type": "object",
      "properties": {
        "manualVerificationRequired": {
          "type": "boolean",
          "x-omitempty": false,
          "format": "boolean"
[...]
