{
  "swagger": "2.0",
  "info": {
    "title": "StackPath CDN API",
    "version": "1.0",
    "contact": {
      "name": "StackPath Support",
      "url": "https://support.stackpath.com/"
    }
  },
  "host": "gateway.stackpath.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cdn/v1/ips": {
      "get": {
        "summary": "Retrieve a list of IP addresses used by the StackPath edge network",
        "operationId": "GetCDNIPs",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCDNIPsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "IPV4",
              "IPV6"
            ],
            "default": "ALL"
          },
          {
            "name": "response_type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "JSON",
              "PLAIN_TEXT"
            ],
            "default": "JSON"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/origins/scan": {
      "post": {
        "summary": "Scan an origin from the CDN",
        "description": "Retrieve information regarding an origin, such as its IP address and whether or not it supports SSL.",
        "operationId": "ScanOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnScanOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnScanOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/pops": {
      "get": {
        "summary": "Retrieve a list of all available StackPath points of presence",
        "operationId": "GetPops",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetPopsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/pops/closest": {
      "get": {
        "summary": "Scan a URL from the StackPath edge network and return a performance report",
        "description": "Results are ordered with the fastest POP response first",
        "operationId": "GetClosestPops",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetClosestPopsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The URL to scan.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates": {
      "get": {
        "summary": "Retrieve a stack's associated SSL certificates",
        "operationId": "GetCertificates",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificatesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve SSL certificates from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Add an SSL certificate to a stack",
        "description": "The certificate is automatically associated with CDN site scope hostnames that match either the certificate's subject or its alternative names.",
        "operationId": "CreateCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to create a certificate on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}": {
      "get": {
        "summary": "Retrieve an individual SSL certificate",
        "operationId": "GetCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "Delete an SSL certificate",
        "operationId": "DeleteCertificate",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "put": {
        "summary": "Update an SSL certificate",
        "operationId": "UpdateCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of SSL certificate to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/renew": {
      "post": {
        "summary": "Issue a renewal for an SSL certificate",
        "description": "StackPath automatically renews certificates that are 30 days from expiration. Call this to retry a renewal that previously failed.",
        "operationId": "RenewCertificate",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to renew",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to renew",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/sites": {
      "get": {
        "summary": "Retrieve the CDN sites associated with an SSL certificate",
        "operationId": "GetCertificateSites",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateSitesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to retrieve CDN sites for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to retrieve sites for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/verification_details": {
      "get": {
        "summary": "Retrieve a CDN site's SSL certificate manual verification details",
        "operationId": "GetCertificateVerificationDetails",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetCertificateVerificationDetailsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve SSL certificate verification details for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the site to retrieve SSL certificate verification details for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/metrics": {
      "get": {
        "summary": "Retrieve request metrics for all CDN sites in a stack",
        "operationId": "GetMetrics",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetMetricsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve CDN metrics for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "The starting date to retrieve metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "The ending date to retrieve metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "AUTO",
              "P1M",
              "PT5M",
              "PT1H",
              "P1D"
            ],
            "default": "AUTO"
          },
          {
            "name": "platforms",
            "description": "A comma-separated list of billing platforms to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pops",
            "description": "A comma-separated list of StackPath point of presence location codes to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "billing_regions",
            "description": "A comma-separated list of billing regions to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sites",
            "description": "A comma-separated list of site IDs to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE",
              "ACCOUNT",
              "SITE",
              "PLATFORM",
              "POP",
              "REGION"
            ],
            "default": "NONE"
          },
          {
            "name": "site_type_filter",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "CDN",
              "WAF",
              "API",
              "EDGE_ENGINE"
            ],
            "default": "ALL"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/origins": {
      "get": {
        "summary": "Retrieve a stack's site origins",
        "operationId": "GetOrigins",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetOriginsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve origins from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/origins/{origin_id}": {
      "get": {
        "summary": "Retrieve an individual origin",
        "operationId": "GetOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve an origin from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "description": "The ID of the origin to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "Update an origin",
        "operationId": "UpdateOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the origin to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "description": "The ID of the origin to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/purge": {
      "post": {
        "summary": "Purge cached content for all CDN sites on a stack",
        "description": "Content is re-cached on the CDN the next time it is requested. Use the returned purge ID to see the status of a purge request.",
        "operationId": "PurgeContent",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnPurgeContentResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the sites to purge items from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnPurgeContentRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/purge/{purge_id}": {
      "get": {
        "summary": "Retrieve a purge request's status",
        "operationId": "GetPurgeStatus",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetPurgeStatusResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack the purge request was made against",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "purge_id",
            "description": "The ID of the purge request to check the status of",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites": {
      "get": {
        "summary": "Retrieve all CDN sites in a stack",
        "operationId": "GetSites",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSitesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve sites from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Create a new CDN site",
        "operationId": "CreateSite",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to create a new CDN site on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}": {
      "get": {
        "summary": "Retrieve an individual CDN site",
        "operationId": "GetSite",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "Delete a CDN site",
        "operationId": "DeleteSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates": {
      "get": {
        "summary": "Retrieve a site's SSL certificates",
        "operationId": "GetSiteCertificates",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteCertificatesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve SSL certificates for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve SSL certificates for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/request": {
      "post": {
        "summary": "Request an SSL certificate for a CDN site",
        "description": "The optional list of hosts should be delivery domains for the site. If no hosts parameter is provided, all delivery domains for a site will be included in the SAN field. If the hosts parameter is provided, then the first entry in the list will be used as the certificate's common name.",
        "operationId": "RequestCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnRequestCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to request an SSL certificate for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to request an SSL certificate for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnRequestCertificateRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}": {
      "put": {
        "summary": "Associate a CDN site with an SSL certificate",
        "description": "Association is performed without validating if the site has a hostname covered by the certificate. This is useful for preparation work required for getting a site ready for traffic.\n\nIf a certificate is uploaded which contains hostnames for sites, it will automatically be connected to those sites. If a hostname is added to a site which is covered by an SSL certificate, it will automatically be connected to the certificate.",
        "operationId": "ConnectSiteToCertificate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnConnectSiteToCertificateResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to attach an SSL certificate to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to attach an SSL certificate to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to attach to a CDN site",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}/hosts": {
      "put": {
        "summary": "Update an SSL certificate's hosts",
        "description": "Updating hosts issues a new certificate.",
        "operationId": "UpdateSiteCertificateHosts",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the SSL certificate to update hosts on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the SSL certificate to update hosts on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificate_id",
            "description": "The ID of the SSL certificate to update hosts on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateSiteCertificateHostsRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/disable": {
      "post": {
        "summary": "Disable a CDN site",
        "operationId": "DisableSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to disable",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to disable",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/dns/targets": {
      "get": {
        "summary": "Retrieve a CDN site's DNS CNAME targets",
        "description": "A site's hostname should point to these CNAME targets in order for traffic to be sent through StackPath's edge nodes.",
        "operationId": "GetSiteDnsTargets",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteDnsTargetsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve DNS CNAME targets from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve DNS CNAME targets from",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/enable": {
      "post": {
        "summary": "Enable a CDN site",
        "operationId": "EnableSite",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to enable",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to enable",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes": {
      "get": {
        "summary": "Retrieve a CDN site's scopes",
        "operationId": "GetSiteScopes",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScopesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve scopes from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve scopes from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "description": "Whether or not to retrieve the site's CDN scope or its WAF scope. When true, this call removes the hostname from a CDN site's scope instead of loading from a CDN site's WAF scope, if the site has WAF service.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Create a new CDN site scope",
        "operationId": "CreateScope",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to create a scope on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to create a scope on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}": {
      "delete": {
        "summary": "Delete a CDN site scope",
        "operationId": "DeleteScope",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/configuration": {
      "get": {
        "summary": "Retrieve a CDN site's scope configuration",
        "operationId": "GetScopeConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve a scope configuration from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve a scope configuration from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope whose configuration to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "Update a CDN site's scope configuration",
        "operationId": "UpdateScopeConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeConfigurationRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames": {
      "get": {
        "summary": "Retrieve the hostnames configured on a CDN site's scope",
        "description": "Hostnames allow the CDN to recognize an HTTP request and associate it with a CDN site.",
        "operationId": "GetScopeHostnames",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeHostnamesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to retrieve hostnames from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to retrieve hostnames from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to retrieve hostnames from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "description": "Whether or not to load hostnames from a CDN site's CDN scope or its WAF scope. When true, this call loads scope hostnames from a CDN site's scope instead of loading from a CDN site's WAF scope, if the site has WAF service.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Add a hostname to a CDN site's scope",
        "operationId": "CreateScopeHostname",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeHostnameResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to add a hostname to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to add a hostname to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to add a hostname to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeHostnameRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames/{domain}": {
      "delete": {
        "summary": "Remove a hostname from a CDN site's scope",
        "operationId": "DeleteScopeHostname",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to remove a hostname from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to remove a hostname from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to remove a hostname from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "domain",
            "description": "The hostname to remove from a scope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "disable_transparent_mode",
            "description": "Whether or not to remove the hostname from a CDN site's CDN scope or its WAF scope. When true, this call removes the hostname from a CDN site's scope instead of loading from a CDN site's WAF scope, if the site has WAF service.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins": {
      "get": {
        "summary": "Retrieve the origins behind a CDN site's scope",
        "operationId": "GetScopeOrigins",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeOriginsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to retrieve origins from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to retrieve origins from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to retrieve origins from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Connect an origin to a CDN site's scope",
        "description": "The origin is automatically created if necessary. When the request contains a priority which an origin already associated with the scope has set, the existing origin is disconnected. The priority of an origin already associated with a scope can be modified via this endpoint.",
        "operationId": "ConnectScopeToOrigin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnConnectScopeToOriginResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to associate an origin with",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to associate an origin with",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to associate an origin with",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnConnectScopeToOriginRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins/{origin_id}": {
      "delete": {
        "summary": "Disconnect an origin from CDN site's scope",
        "operationId": "DisconnectScopeFromOrigin",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site containing the scope to remove an origin from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the scope to remove an origin from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the scope to remove an origin from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin_id",
            "description": "The ID of the origin to remove from a scope",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules": {
      "get": {
        "summary": "Retrieve all EdgeRules on a CDN site scope",
        "operationId": "GetScopeRules",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRulesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve EdgeRules from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve EdgeRules from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to retrieve EdgeRules from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Create an EdgeRule on a CDN site scope",
        "operationId": "CreateScopeRule",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRuleResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to create an EdgeRule on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to create an EdgeRule on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to create an EdgeRule on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateScopeRuleRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}": {
      "get": {
        "summary": "Retrieve an individual EdgeRule from a CDN site scope",
        "operationId": "GetScopeRule",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRuleResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to retrieve an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "description": "The ID of the EdgeRule to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "Delete an EdgeRule",
        "operationId": "DeleteScopeRule",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to delete an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to delete an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to delete an EdgeRule from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "description": "The ID of the EdgeRule to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}/configuration": {
      "get": {
        "summary": "Retrieve an EdgeRule's configuration",
        "operationId": "GetScopeRuleConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetScopeRuleConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve an EdgeRule's configuration from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve an EdgeRule's configuration from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to retrieve an EdgeRule's configuration from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "description": "The ID of the EdgeRule to retrieve configuration for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "Update an EdgeRule's configuration",
        "operationId": "UpdateScopeRuleConfiguration",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeRuleConfigurationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to update an EdgeRule's configuration for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to update an EdgeRule's configuration for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope_id",
            "description": "The ID of the CDN site scope to update an EdgeRule's configuration for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "rule_id",
            "description": "The ID of the EdgeRule to update configuration for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateScopeRuleConfigurationRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts": {
      "get": {
        "summary": "Retrieve all EdgeEngine scripts associated with a CDN site",
        "operationId": "GetSiteScripts",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to retrieve EdgeEngine scripts from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to retrieve EdgeEngine scripts from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "post": {
        "summary": "Create an EdgeEngine script",
        "operationId": "CreateSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to create a new EdgeEngine script on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site to create a new EdgeEngine script on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnCreateSiteScriptRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}": {
      "get": {
        "summary": "Retrieve an individual EdgeEngine script",
        "operationId": "GetSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site with the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "description": "The ID of the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_version",
            "description": "The version of the EdgeEngine script to retrieve.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "delete": {
        "summary": "Delete an EdgeEngine script",
        "operationId": "DeleteSiteScript",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to delete an EdgeEngine script from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the CDN site to delete an EdgeEngine script from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "description": "The ID of the EdgeEngine script to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      },
      "patch": {
        "summary": "Update an EdgeEngine script",
        "operationId": "UpdateSiteScript",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnUpdateSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site to update an EdgeEngine script on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the CDN site to update an EdgeEngine script on",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "description": "The ID of the EdgeEngine script to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cdnUpdateSiteScriptRequest"
            }
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    },
    "/cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}/{script_version}": {
      "get": {
        "summary": "Retrieve an individual EdgeEngine script",
        "operationId": "GetSiteScript2",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/cdnGetSiteScriptResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the site with the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "site_id",
            "description": "The ID of the site containing the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_id",
            "description": "The ID of the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "script_version",
            "description": "The version of the EdgeEngine script to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cdn"
        ]
      }
    }
  },
  "definitions": {
    "AuthACLAccessCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "allow",
        "deny"
      ],
      "default": "UNKNOWN"
    },
    "AuthACLClientIPSrcEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "socket",
        "header"
      ],
      "default": "UNKNOWN"
    },
    "AuthGeoCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "countryCode",
        "region",
        "subdivisionCodes",
        "city",
        "postalCode",
        "continentCode",
        "timeZone",
        "dmaCode",
        "areaCode"
      ],
      "default": "UNKNOWN"
    },
    "AuthUrlSignAKv2HashStrategyEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "sha1",
        "sha256",
        "md5"
      ],
      "default": "UNKNOWN"
    },
    "AuthUrlSignL3TimeFormatEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "epoch",
        "datetime"
      ],
      "default": "UNKNOWN"
    },
    "BandWidthRateLimitUnitsInitialEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "byte",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandWidthRateLimitUnitsSustainedEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "kilobit",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandwidthRateLimitInitialBurstUnitsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "byte",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BandwidthRateLimitSustainedRateUnitsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "kilobit",
        "kilobyte"
      ],
      "default": "UNKNOWN"
    },
    "BillableRegionsEnabledRegionsEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "us",
        "eu",
        "sa",
        "as",
        "oc"
      ],
      "default": "UNKNOWN"
    },
    "ClientRequestQueueIpListAccessCodeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "allow",
        "deny"
      ],
      "default": "UNKNOWN"
    },
    "ContentDispositionByHeaderDefaultTypeEnumWrapperValue": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "attachment",
        "inline"
      ],
      "default": "UNKNOWN"
    },
    "CreateSiteRequestTypeEnum": {
      "type": "string",
      "enum": [
        "CDN",
        "WAF",
        "API"
      ],
      "default": "CDN",
[...]
